main > .container {
    padding: 30px 0;
}

#descripcionpro {
    font-size: 10px;
    font-weight: 300;    
} 

#logoiniciodesesion {
    margin: 0 auto;
}

#separacion {
 color:#36D1DC;
}

